.container{

    background-color: #422680;
    width: 100%;
    height: 97vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastro{

   border-radius: 10px;
    width: 450px;
    height: 450px;
    background-color: #8d75a9;
    box-shadow: 5px 5px 10px 2px;
}

.cadastro form{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 30px;

}

.cadastro form h1{
    margin: 0px;
    font-size: 50px;
}

.cadastro form label{
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.cadastro form input{
    font-size: 15px;
    width: 40%;
    height: 25px;
    border-radius: 10px;
    border: #422680 2px solid;

}

.cadastro form button{

    font-size: 15px;
    width: 25%;
    border-radius: 10px;
    color: white;
    background-color: #422680;

}