/* --- CTA Section --- */
.ctaSection {
    background-color: #422680;
    color: #fff;
    padding: 4% 20%;
    text-align: center;
  }
  
  .ctaSection h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .ctaSection p {
    color: #fff;
    margin-bottom: 2rem;
  }
  
  .ctaButtons{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  
  .ctaButton:hover{
    opacity: 0.6;
  }
  
  .notes {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 15px;
  }