.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    border: 2px red solid;
    height: 97vh;
}

.logo{
    border: 2px red solid;
    width: 700px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo h1{
    font-size: 80px;
    color: #422680;
    text-shadow: 3px 4px black;
    margin: 0px ;
}

.logo h3{
    font-size: 20px;
}

